// 5つ目のページ
%main.single__page__main
  .single__page__main__container
    %h2.single__page__main__head
      会員登録完了
    .single__form
      .single__field
        %p.single__field__text.single__field__text--center
          ありがとうございます。
        %p.single__field__text.single__field__text--center
          会員登録が完了しました。
      .single__field
        =link_to "メルカリをはじめる", root_path, class: "single__btn single__form__send-btn"
