.footer
  .footer__banner
    .footer__banner__pc
      .footer__banner__pc__inner
        %h2 スマホで簡単フリマアプリ
        %p 今すぐ無料でダウンロード！
        .footer__banner__pc__inner__icons
          =image_tag "mercari_icon_white_bg.png", class: "footer__banner__pc__inner__icons__mercari"
          =image_tag "app-store.svg", class:"footer__banner__pc__inner__icons__svg"
          =image_tag "google-play.svg",class: "footer__banner__pc__inner__icons__svg"
      .footer__banner__pc__img
        =image_tag "footer_content_pc.png"

  .footer__global
    =render "/shared/footer-info"
