.footer
  .footer__banner
    .footer__banner__pc
      .footer__banner__pc__inner
        %h2
        %p
        .footer__banner__pc__inner__icons
          =image_tag ""
          =image_tag ""
          =image_tag ""
      .footer__banner__pc__img
        =image_tag ""

  .footer__global