//パンくずリスト
%nav.nav
  %ul.nav-lists
    %li.nav-lists__list
      %p 
        = breadcrumbs pretext: "You are here: ", separator: " &rsaquo; "
    %li.nav-lists__list
      = link_to '/',class:'nav-lists__list__link' do
        %span ローズクウォーツ
