%nav.nav
  %ul.nav-lists
    %li.nav-lists__list
      = link_to '/',class:'nav-lists__list__link' do
        %span メルカリ
        = fa_icon 'chevron-right',class:'nav-lists__list__icon'
    %li.nav-lists__list
      = link_to '/',class:'nav-lists__list__link' do
        %span ローズクウォーツ
