:ruby 
  sidelists = [{
      name: "マイページ",
      url: mypage_index_path
    },{
      name: "お知らせ",
      url: notification_mypage_index_path
    },{
      name: "やることリスト",
      url: todo_mypage_index_path
    },{
      name: "いいね！一覧",
      url: mypage_like_history_path
    },{
      name: "出品する",
      url: items_sell_path
    },{
      name: "出品した商品-出品中",
      url: mypage_listings_listing_path
    },{
      name: "出品した商品-取引中",
      url:  mypage_listings_in_progress_path
    },{
      name: "出品した商品-売却済",
      url: mypage_listings_completed_path
    },{
      name: "購入した商品-取引中",
      url: purchase_mypage_index_path
    },{
      name: "購入した商品-過去の取引",
      url: purchased_mypage_index_path
    },{
      name: "ニュース一覧",
      url: news_mypage_index_path
    },{
      name: "評価一覧",
      url:  mypage_review_history_path
    },{
      name: "ガイド",
      url: help_center_mypage_index_path
    },{
      name: "お問い合わせ",
      url: support_mypage_index_path
    }]

  sidelists2 = [{
      name: "売上・振込申請",
      url: sales_mypage_index_path
    },{
      name: "ポイント",
      url: point_mypage_index_path
    }]

  sidelists3 = [{
      name: "プロフィール",
      url: profile_mypage_index_path
    },{
      name: "発送元・お届け先住所変更",
      url: edit_address_path
    },{
      name: "支払い方法",
      url: card_mypage_index_path
    },{
      name: "メール/パスワード",
      url: email_password_mypage_index_path
    },{
      name: "本人情報",
      url: identification_mypage_index_path
    },{
      name: "電話番号の確認",
      url: sms_confirmation_mypage_index_path
    },{
      name: "ログアウト",
      url: destroy_user_session_path
    }]


.sidebar
  %ul.sidebar__lists
    -sidelists.each do |list|
      =link_to list[:url] do
        %li.sidebar__lists__list
          %p 
            =list[:name]
          =fa_icon "angle-right"
  %h3.sidebar__head
    メルペイ
  %ul.sidebar__lists
    -sidelists2.each do |list|
      =link_to list[:url] do
        %li.sidebar__lists__list
          %p 
            =list[:name]
          =fa_icon "angle-right"
  %h3.sidebar__head
    設定
  %ul.sidebar__lists
    -sidelists3.each do |list|
      =link_to list[:url] do
        %li.sidebar__lists__list
          %p 
            =list[:name]
          =fa_icon "angle-right"

