:ruby 
  sidelists = [{
      name: "マイページ",
      url: "/"},{
      name: "お知らせ",
      url: "/"
    },{
      name: "やることリスト",
      url: "/"
    },{
      name: "いいね！一覧",
      url: "/"
    },{
      name: "出品する",
      url: "/"
    },{
      name: ""
    }
    ]

.sidebar
  %ul
    -sidelists.each do |list|
      %li
        =list[:name]
