%footer.single__page__footer
  %nav
    = link_to "プライバシーポリシー", "/"
    = link_to "メルカリ利用規約", "/"
    = link_to "特定商取引に関する表記", "/"
  = link_to "", class: "single__page__footer__logo" do
    %p ロゴ
    -# = image_tag "logo.png", size: "100x50", alt: "mercari"
  %p
    %small © 2019 Mercari