:ruby
  steps = ["会員情報", "電話番号認証", "お届け先住所入力", "支払い方法", "完了"]

%header.single__page__header
  = link_to "/" do
    = image_tag "mercari_logo.png", size: "185x50", alt: "mercari"
  - if controller_name == 'registrations' && action_name != 'register'
    %nav.sign-up__bar
      %ol.sign-up__bar__menus
        %li.active-single-nav
          会員情報
          .progress-status.progress-status--active
        %li
          電話番号認証
          .progress-status
        %li
          お届け先住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
    -# %nav.sign-up__bar
    -#   %ol.sign-up__bar__menus
    -#     - steps.each_with_index do |step, i|
    -#       - if i < @step_num
    -#         %li
    -#           = step
    -#           .progress-status.progress-status--active
    -#       - elsif i == @step_num
    -#         %li.active-single-nav
    -#           = step
    -#           .progress-status.progress-status--active
    -#       - else
    -#         %li
    -#           = step
    -#           .progress-status 