.purchase-confirmations{
  &__head{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid #f5f5f5;
  }
  &__container{
    border-bottom: 1px solid #f5f5f5;
    min-height: 100px;
    align-items: center;
    display: flex;
  }
  &__notice{
    background: #fff6de;
    width: 100%;
    min-height: 100px;
    &__wait{
      color: $red;
      font-size: 18px;
      font-weight: bold;
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        font-size: 30px;
        color: $red;
        margin-right: 10px;
      }
    }
    &__message{
      font-size: 15px;
      text-align: center;
      padding-bottom: 20px; 
    }
  }
  &__done{
    width: 100%;
    margin: 20px 0;
    text-align: center;
    h3{
      font-weight: bold;
    }
    p{
      padding: 10px 0 10px;
    }
    &__link{
      color: $blue;
    }
    &__face{
      display: flex;
      justify-content: center;
    }
  }
  &__item{
    width: 320px;
    margin: 0 auto;
    padding: 24px 0 40px; 

    &__detail{
      display: flex;
      &__img{
        height: 64px;
        width: 64px;
        object-fit: cover;
        &--done{
          display: block;
          height: 100px;
          width: 100px;
          margin: 0 auto 10px;
          object-fit: cover;
        }
      }
      &__name{
        padding-left: 16px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
    }
    &__price{
      text-align: center;
      padding-top: 10px;
      font-size: 17px;
      font-weight: bold;
      margin: 0 auto;
      span{
        font-size: 14px;
        font-weight: normal;
        margin-left: 8px;
      }
    }
    &__point{
      font-size: 14px;
      background: #cccccc;
      margin-top: 16px; 
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    &__pey-price{
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      span{
        font-size: 22px;
        line-height: 22px;
      }
    }
  }
  .buy-user-info{
    width: 320px;
    margin: 0 auto;
    padding: 24px 0 40px; 
    font-size: 13px;
    &__address{
      h3{
        font-weight: bold;
      }
      address{
        margin-top: 8px;
      }
    }
    &__fix{
      text-align: right;
      display: block;
      margin-top: 8px;
      color: $blue;
      cursor: pointer;
    }
    &__credit{
      h3{
        font-weight: bold;
      }
      &__number{
        margin-top: 8px;
      }
      img{
        width: 34px;
        height: 20px;
        background: violet;
      }
    }
  }
}

.purchase-form-hidden{
  display: none;
}

.purchase-button{
  background: #ea352d;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  &--sold{
    background: gray;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  &__notice{
    color: #ea352d;
    font-size: 15px;
    padding: 5px;
  }
}