.font-2{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.font-5{
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

@media screen and(min-width: 770px){
  .top-main-visual{
    height: 390px;
    background-image: image-url("main_bg_pc.jpg");
    background-size: cover;
    .top-main-visual__wrapper__content__title{
      font-size: 60px;
      line-height: 1.2;
      font-weight: bold;
    }
    .sp-top-main-visual__title{
      display:none;
    }
    p{
      margin: 16px 0 0;
      font-size: 18px;
      line-height: 1.77778;
    }
    .phone-img{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
    &__wrapper{
      max-width: 860px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      display: flex;
      &__content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        display: block;
        z-index: 2;
        &__store{
          margin: 24px 0 0;
          line-height: 0;
          display: flex;
          width: 480px;
          height: 50px;
          img{
            width: 170px;
            height: 50px;
            margin-right: 8px;
          }
        }
      }
    }
    &--camp{
      width: 100%;
      height: 390px;
      background: #EBEAE6;
      &__img{
        display: block;
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .pickup{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding: 40px 0;
    &__head{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 26px;
    }
  }

  .items-box__container{
    max-width: 940px;
    margin: 0 auto;
    .text-center{
      text-align: center;
      margin: 0 11px 26px;
      font-size: 22px;
      font-weight: bold;
      a{
        @include item-aHover;
      }
      
    }

    .items-box__content{
      width: auto;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .items-box{
        @include item-box
      }
    }
    .view-all{
      text-align: right;
      width: 99.5%;
      padding: 0 0 30px;
      font-size: 14px;
      a{
        @include item-aHover;
      }
    }
  }

  // sell-btn（pcサイズ）
  .footer-sell-btn{

    .top-main-visual{
    height: 390px;
    background-image: image-url("main_bg_pc.jpg");
    background-size: cover;
    h2{
      font-size: 60px;
      line-height: 1.2;
      font-weight: bold;
    }
    p{
      margin: 16px 0 0;
      font-size: 18px;
      line-height: 1.77778;
    }
    .phone-img{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
    &__wrapper{
      max-width: 860px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      display: flex;
      &__content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        display: block;
        z-index: 2;
        &__store{
          margin: 24px 0 0;
          line-height: 0;
          display: flex;
          width: 480px;
          height: 50px;
          img{
            width: 170px;
            height: 50px;
            margin-right: 8px;
          }
        }
      }
    }
    &--camp{
      width: 100%;
      height: 390px;
      background: #EBEAE6;
      &__img{
        display: block;
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .pickup{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding: 40px 0;
    &__head{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 26px;
    }
  }

  .items-box__container{
    max-width: 940px;
    margin: 0 auto;
    .text-center{
      text-align: center;
      margin: 0 11px 26px;
      font-size: 22px;
      font-weight: bold;
      a{
        @include item-aHover;
      }
      
    }

    .items-box__content{
      width: auto;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .items-box{
        @include item-box
      }
    }
    .view-all{
      text-align: right;
      width: 99.5%;
      padding: 0 0 30px;
      font-size: 14px;
      a{
        @include item-aHover;
      }
    }
  }
    width: 160px;
    height: 160px;
    background: #EA352D;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 22px;
    z-index: 1000;
    position: fixed;
    bottom: 32px;
    right: 32px;
    &__word{
      margin-top:28px; 
    }
    .fa-camera{
      margin-top: 5px;
      font-size: 57px;
    }
  }
  .footer-sell-btn:hover{
    text-decoration: none;
  }
}



// sell-btn(スマホサイズ）
@media screen and(max-width:769px){
  .top-main-visual{
    height: 200px;
    background-image: image-url("main_bg_pc.jpg");
    background-size: cover;
    .top-main-visual__wrapper__content__title{
      display:none;
    }
    .sp-top-main-visual__title{
      font-size: 1.8em;
      line-height: 1.4;
      font-weight: bold;

    }
    p{
      display:none;
    }
    .phone-img{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
    &__wrapper{
      max-width: 860px;
      height: 200px;
      margin: 0 auto;
      position: relative;
      display: flex;
      &__content{
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-65%, -50%);
        display: block;
        z-index: 2;
        &__store{
          display:none;
        }
      }
    }
    &--camp{
      width: 100%;
      height: 200px;
      background: #EBEAE6;
      &__img{
        display: block;
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .pickup{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding: 40px 0;
    &__head{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 26px;
    }
  }

  .items-box__container{
    max-width: 940px;
    margin: 0 auto;
    .text-center{
      text-align: center;
      margin: 0 11px 26px;
      font-size: 22px;
      font-weight: bold;
      a{
        @include item-aHover;
      }
      
    }

    .items-box__content{
      width: auto;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .items-box{
        @include item-box
      }
    }
    .view-all{
      text-align: right;
      width: 99.5%;
      padding: 0 0 30px;
      font-size: 14px;
      a{
        @include item-aHover;
      }
    }
  }
  .footer-sell-btn{
    position: fixed;
    bottom: -14px;
    right: -14px;
    z-index: 1000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ea352d;
    color: #fff;
    text-align: center;
    &__word{
      margin:14px 0 0;
    }
    
  }
}
