.sell-upload__container {
  display: flex;
  width: 620px;
  height: 100%;
  margin-top: 15px;
  flex-wrap: wrap;
  .sell-upload__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .sell-upload__item {
    height: 162px;
    width: 116px;
    margin: 0 10px 10px 0;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    &:nth-child(5n) {
      margin-right: 0;
    }
    &__header{
      height: 120px;
      display: flex;
      align-items: center;
      &__image {
        height: 85px;
        width: 100%;
      }
    }
    &__footer{
      display: flex;
      text-align: center;
      align-items: center;
      border-top: 2px solid #eeeeee;
      &__btn {
        width: 50%;
        height: 38px;
        line-height: 38px;
        font-size: 14px;
        cursor: pointer;
        @include item-aHover;
        &:first-child {
          border-right: 2px solid #eeeeee;
        }
      }
    }
  }
  .sell-upload__box {
    height: 162px;
    width: 116px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    text-align: center;
    font-size: 16px;
    flex-grow: 1;
    &__label {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 40;
      span {
        display: block;
        font-size: 14px;
        word-wrap: break-word;
        white-space: pre-wrap;
        display: block;
      }
      i {
        opacity: 0;
        display: none;
      }
    }
  }
}

.sell-upload__error {
  font-size: 14px;
  color: $red;
  display: none;
}


.sell-content{
  width:700px;
  padding: 40px;
  border-top: 1px solid #eee;
  &--flex {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    color: #888888;
    font-weight: bold;
    font-size: 14px;
  }
  h3.question::after {
    color: $blue;
    font-family: FontAwesome;
    content: "\f059";  /*アイコンのコード*/
    font-size: 16px;
  }

  .sell-form-box {
    width: 400px;
    .single__field--2 {
      width: 400px;
      display: flex;
    }
    li {
      padding: 0 0 24px;
      border: 0;
      display: flex;
      justify-content: space-between;
    }
    .sellfee {
      height: 70px;
      font-size: 14px;
      padding: 24px 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    .sellprofit {
      font-size: 16px;
      font-weight: bold;
      padding: 24px 0;
    }
  }
  .sell-notice {
    @include item-aHover;
  }
}

