.single__field__textarea {
  height: 120px;
  @include textarea-default 
}

.sell-upload--container {
  display: block;
  width: 620px;
  height: 100%;
  .sell-upload--box {
    padding: 40px;
    position: relative;
    height: 160px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    margin: 16px auto 0;
    font-size: 1.3rem;
    cursor: pointer;
    input {
      display: none;
    }
  }
}

.text-mark {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  
  font-size: 14px;
  
  -webkit-transform: translate(0, -50%);

  white-space: pre-wrap;
  word-wrap: break-word;
}


.sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
}


.sell-content.clearfix {
  width:700px;
  padding: 40px;
  border-top: 1px solid #eee;
  display: flex;
  h3 {
    color: #888888;
    font-weight: bold;
  }

  .sell-form-box {
    width: 400px;
    margin-left: auto;
    .single__field--2 {
      width: 400px;
      display: flex;
    }
  
    li {
      padding: 0 0 24px;
      border: 0;
    }
    .sellfee {
      height: 70px;
      font-size: 14px;
      padding: 24px 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    .sellprofit {
      font-size: 16px;
      font-weight: bold;
      padding: 24px 0;
    }
    .l-left {
      float: left;
    }
    .l-right {
      float: right;
    }
  }
}


.single__field__select {
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 8px;
 
  text-align: center;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid $gray;
  border-radius: 5px;
  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border: 0px;
    border-bottom: solid 2px #b4b3b3;
    border-right: solid 2px #b4b3b3;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -6px 10px;
  }
  select {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    font-family: FontAwesome;
    background-repeat: no-repeat;
    background-size: 12px 10px;
    background-position: right 10px center;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 1;
  }
}

