.header-nav-brand-wrap{
  background-color:white;
  width:auto;
  position: absolute;
  display: none;
  z-index:800; //下との重なりを解消しています。
  &__parent{
    width:224px;
    height:44px;
    line-height: 44px;
    &--heading{
      display:block;
      width:100%;
    }
  }
}