// active,active-childはjQueryで使用しています
.active{
  display:block;
  background-color:#EA352E;
  
}
.active-child{
  display:block; 
  background-color: #f5f5f5;
  a{
    @include category-char;
  }
}

//親
.header-nav-parent-wrap{
  display: none;
  background-color:white;
  width:auto;
  position: absolute;
  z-index:900; //下との重なりを解消しています。

  .header-nav-parent{
    width:224px;
    height:44px;
    line-height: 44px;
    padding: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    &__heading{
      a{
        width: 100%;
        height: 100%;
        line-height: 44px;
        @include category-char;
        &:hover{
          color:white;
          display: block;
        }
      }
    }
  }
}

//子
.header-nav-child-wrap{
  @include category-wrap;
  
  .header-nav-child{
    width:224px;
    @include category-mono;
    &:hover{
      background-color: #f5f5f5;
    }
    a{
      @include category-char;
      color:black;
    }
  }
}

//孫
.header-nav-grand-child-wrap{
  @include category-wrap;
  overflow: hidden;

  .header-nav-grand-child{
    width: 320px;
    @include category-mono;
   
    &:hover{
      background-color: #f5f5f5;
    }
    a{
      @include category-char;
    }
    
  }
}