.footer{
  width: 100%;
  &__banner{
    width: 100%;
    height: 260px;
    background-image: image-url("footer_bg_pc.jpg");
    &__pc{
      width: 750px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      &__inner{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        h2{
          font-size: 24px;
          color:#fff;
          font-weight: bold;
        }
        p{
          font-size: 35px;
          margin-top: 10px;
          color: #fff;
        }
        &__icons{
          margin-top: 20px;
          display: flex;
          align-items: center;
          &__mercari{
            height: 68px;
            width: 68px;
          }
          &__svg{
            height: 40px;
            width: 133px;
            margin-left: 20px;
            cursor: pointer;
          }
        }
      }
      &__img{
        height: 260px;
        position: absolute;
        top: 0;
        right: 0;
        img{
          height: 260px;
        }
      }
    }
  }
  &__global{
    width: 100%;
    height:400px;
    background: #212121;
    display: flex;
    position: relative;
    .info {
      margin: 0 190px;
      width: 1020px;
      height: 298px;
    } 
 
    .footer__cell {
      display: inline-block;
      vertical-align: top;
      margin-top: 18px;
      padding-right: 20px;
      width: 20%;
      height: 241px;
      color: white;
      &__child {
        width: 23%;
        padding-right: 40px;
      }
      &__width {
        width: 42%;
        .inner__footer__cell {
          display: flex;
          &__child {
            padding-left: 10px;
          }
        }
      }

      &__short {
        width: auto;
      }
      .footer__head {
        font-size: 16px;
      }
      .footer__lists {
        font-size: 12px;
        opacity: .7;
        :hover {
          text-decoration-line: underline;
        }
        &__list{
          margin-top: 12px;
          color: white;
        }
      }
      .footer-social-links {
        margin-top: 14px;
        width: 45px;
        height: 45px;
        display: flex;

        &--icon {
          font-size: 30px;
          display: inline-block;
          padding-right: 10px; 
          color: white;
        }
      }
    }
    .footer__bottom {
      width: 1020px;
      height: 50px;
      margin: 30px 0 20px;
      position: absolute;
      bottom: 0; /*下に固定*/
      .footer-logo-white {
        color: white;
        width: 124px;
        height: 33px;
      }
      .footer__copyright {
        width: 745px;
        display: inline-block;
        text-align: center;
        margin-top: 8px;
      }
    }
  }
}