// signUpページのbtn
.single__btn {
  display: block;
  height: 48px;
  border: 1px solid transparent;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  &--mail {
    background-color: $gray;
  }
  &--facebook {
    background-color: #385185;
    color: white;
  }
  &--google {
    border: 1px solid #979797;
  }
  &--sign-up {
    background-color: #0099e8;
    border: 1px solid #0099e8;
    color: white;
  }
  .single__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    &--mail {
      color: #cccccc;
    }
  }
}