- 10.times do
  %section{class: "items-box"}
    %a(href="/")
      .items-box__photo
        %img(src="../images/noImage.jpg" alt="")
      .items-box__body
        %h3{class: "items-box__body__name font-2"}
          ビーズネックレス
        .items-box__body__num
          .items-box__body__num__price.font-5
            ¥ 1400円
          .items-box__body__num__like.font-2
            =fa_icon "heart-o" 