%main{class: 'white'}

  .top-main-visual
    .top-main-visual__wrapper
      .top-main-visual__content
        %h2
          スマホでかんたん
          %br フリマアプリ
        %p
          メルカリはスマホカメラからすぐ出品できる
          %br 購入時も安心な独自システムのアプリです
        .top-main-visual__store
          %a(href="https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"){class: "pull-left",target: "_blank"}
            %img(src="../images/app-store.svg" alt="app-store")
          %a(href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"){class: "pull-left",target: "_blank"}
            %img(src="../images/google-play.svg" alt="google-play")
      %img(src="../images/main_content_pc.png" alt="main-content"){class: "phone-img"}
  
  %section.pickup__container
    %h2{class: "pickup-head"}
      ピックアップカテゴリー
    
    %section{class: "items-box__container"}
      %h3{class: "text-center"}
        %a(href="/") レディース新着アイテム
      .items-box__content
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
      .view-all
        %a(href="/")
          すべての商品を見る  

    %section{class: "items-box__container"}
      %h3{class: "text-center"}
        %a(href="/") レディース新着アイテム
      .items-box__content
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
      .view-all
        %a(href="/")
          すべての商品を見る  

  %section.pickup__container
    %h2{class: "pickup-head"}
      ピックアップブランド
    
    %section{class: "items-box__container"}
      %h3{class: "text-center"}
        %a(href="/") シャネル新着アイテム
      .items-box__content
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
        %section{class: "items-box"}
          %a(href="/")
            .items-box__photo
              %img(src="../images/noImage.jpg" alt="")
            .items-box__body
              %h3{class: "items-box__name font-2"}
                ビーズネックレス
              .items-box__num
                .items-box__price.font-5
                  ¥ 1400円
                .items-box__like.font-2
                  =fa_icon "heart-o" 
      .view-all
        %a(href="/")
          すべての商品を見る           
