-breadcrumb :item_search
%main.mypage
  .mypage__container
    .mypage__contents
      %h2.search-head
        -if params[:q]
          検索結果
          -# = "#{params[:q][:name_cont_all]}"
        -else 
          =params[:keyword]
          %span
            の検索結果
      %p.search-count
        ="#{@items.count}件の商品"
      %section{class: "items-box__container"}
        .items-box__content
          -@items.each do |item|
            =render partial: "item-s", locals: {item: item}


    .mypage__side
      =render "shared/search-side"