.show-container
  
  .item-box-container
    %h1.item-name 【アダムエロペ】花柄ショートパンツ
    .item-main-content
      .item-photo
        .owl-carousel
          .owl-stage-outer
            .owl-stage
              .owl-item-inner
                %img(src="../images/noImage1.jpg" alt="")
          .owl-nav
            .owl-prev
            .owl-next
          .owl-dots
          
      %table.item-detail-table
        %tboby
          %tr
            %th 出品者
            %td
              =link_to root_path do
                めるこ
          %tr
            %th カテゴリー
            %td
              =link_to root_path do
                レディース
          %tr
            %th ブランド
            %td
              =link_to root_path do
                エルメス
          %tr
            %th 商品のサイズ
            %td M
          %tr
            %th 商品の状態
            %td 新品、未使用
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              =link_to root_path do
                神奈川県
          %tr
            %th 配達日の目安
            %td 1~2日で発送

    .item-price-box
      %span.item-price
        ¥450
      %span.item-tax
        (税込)
      %span.item-shipping-fee
        送料込み
    =link_to root_path, class: "item-buy-btn" do
      購入画面に進む
  
    %section.item-description-14f
      %p.item-description-innner
        アダムエロペ
        %br
        花柄ショートパンツ（ネイビー×ブルー×ホワイト）
        %br
        サイズ36 
        %br
        Sサイズで選択してとりますが、当方は158センチ46キロで、普段Mサイズを履いており、こちらも問題なく履けました
        簡易包装で発送予定です

    .item-button-container
      .item-button-left
        %button.item-button.item-button-like
          =fa_icon "heart-o"
          %span いいね!
        %button.item-button.item-button-report
          =fa_icon "flag-o"
          %span 不適切な商品の報告
      .item-button-right
        =link_to "https://www.mercari.com/jp/safe/description/" do
          =fa_icon "lock"
          %span あんしん・あんぜんへの取り組み

  .item-detail-message
    .message-container
      .message-content
        %form.message-form{action: "https://www.mercari.com/jp/comment/add/", method:"POST"}
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .textarea-default
            %textarea{comment: ""}
          
          %button.message-submit.btn-default.btn-gray{:type => "submit"}
            %span コメントする

  %ul.nav-item-link-prev-next
    %li.nav-item-link-prev
      =link_to root_path do
        =fa_icon "angle-left"
        花柄ワンピース
    %li.nav-item-link-next
      =link_to root_path do
        レインコート
        =fa_icon "angle-right"
  
  .item-social-media-box
    .text-center
      %ul.social-media-box
        %li
          =link_to "http://www.facebook.com" do
            =fa_icon "facebook-square", class:"icon-facebook"
        %li
          =link_to "http://www.twitter.com" do
            =fa_icon "twitter-square", class:"icon-twitter"
        %li
          =link_to "http://www.pinterest.com" do
            =fa_icon "pinterest-square", class:"icon-pinterest"
  



