// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage__content__setting-profile {
  background-color: white;
  width: 700px;
  &__title {
  font-size: 24px;
  padding: 8px 24px;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
  }
  &__form {
    padding: 64px;
    &__icon {
      padding: 72px 16px 24px;
      background: image-url("mypage_haikei");
      background-size: cover;
      text-align: center;
      & figure {
        display: inline-block;
        vertical-align: middle;
      }
      & img {
        border-radius: 50%;
      }
      & .input-default {
        width: 220px;
        padding-left: 10px;
        vertical-align: middle;
        height: 48px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-left: 8px;
      }
    }
    &__content {
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
      & .textarea-default {
        width: 100%;
        min-height: 216px;
      }
    }
  }
}

.mypage__content__tab-content__item-list--index--red{
  padding-bottom: 24px;
  a {
    color: #fff;
    background-color:#ea352d;
    border: 1px solid #ea352d;
    &:hover{
      background-color:red;
      text-decoration: none;
  }
}
}
