.category-show-wrapper
  .category-show-contents
    .category-sibling-list
      = link_to '/' do
        ルームウェア/パジャマ
      -# - @children.each do |child|
      -#   =link_to category_path(child.id) do
      -#     = child.name
    .category-show-box
      .cateShow-heading
        %h1 レディースの商品一覧
      %section{class: "cateShow-container"}
        .cateShow-content

          = render 'cate-item'
    -# pagination

    .category-discription
      .category-discription__heading
        %h3 レディース
      .category-discription__content
        %p レディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーはロングスカートとシャツ/ブラウス(七分/長袖)です。人気の商品は「フレームワーク ブルースカート」や「グローバルワーク ペプラムブラウス タグ付き」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。

