%li.mypage__content__tab.active-mypage-tab
  %h3.mypage__content__tabs__head
    = link_to mypage_index_path do
      = titles[0]
%li.mypage__content__tab
  %h3.mypage__content__tabs__head
    = link_to mypage_index_path do
      = titles[1]