- if active
  %li.mypage__content__tab.active-mypage-tab
    %h3.mypage__content__tabs__head
      = link_to path do
        = title
- else
  %li.mypage__content__tab
    %h3.mypage__content__tabs__head
      = link_to path do
        = title