%main.single__page__main
  .single__page__main__container
    %h2.single__page__main__head
      支払い方法
    .single__form
      .single__field
        = link_to user_registration_path, class: "single__btn single__btn--red", id: "mail-btn" do
          = fa_icon "credit-card lg", class: "single__icon single__icon--mail"
          クレジットカードを追加する
    .single__form--box
      .single__field
        = link_to "支払い方法について>", "/", class: "single__field__text single__field__text__link single__field__text__link--right"