-# -breadcrumb :confirmation
%main.mypage
  .mypage__container
    .mypage__content
      .single__page__main
        .single__page__main__container
          %h2.single__page__main__head
            メールアドレスとパスワードの変更
      .single__page__main
        .single__page__main__container
          .single__form.single__form--big
            %p.single__field__text  
              メールアドレスとパスワードを変更しました。
    .mypage__side
      =render "shared/sidebar"