:ruby
  titles = ["取引中", "過去の取引"]
  path = [purchase_mypage_index_path, purchased_mypage_index_path]

  announces = [{
    Name:"aさんの商品を購入！", url:"#"
  },{
    Name:"bさんの商品を購入！", url:"#"
  },{
    Name:"cさんの商品を購入！", url:"#"
  }]


-breadcrumb :purchased
%main.mypage
  .mypage__container
    .mypage__content
      .mypage__content__head.mypage__content__head--text
        購入した商品
      %section.mypage__content__tab-container
        %ul.mypage__content__tabs
          = render partial: "mypage-tabs", locals: { active: false, title: titles[0], path: path[0] }
          = render partial: "mypage-tabs", locals: { active: true, title: titles[1], path: path[1] }
        .mypage__content__tab-content
          %ul.mypage__content__tab-content__item-list.show-mypage-tab
            - if @items.exists?
              - @items&.each do |item|
                = render partial: "mypage_tab_item", locals: {item: item}
            - else
              %li.mypage__content__tab-content__item-list--none
                売却済みの商品はありません

    .mypage__side
      =render "shared/sidebar"
