-breadcrumb :sms_confirmation
%main.mypage
  .mypage__container
    .mypage__content
      .single__page__main
        .single__page__main__container
          %h2.single__page__main__head
            完了
      .single__page__main
        .single__page__main__container
          .single__form.single__form--big
            .single__btn
              確認済みです
    .mypage__side
      =render "shared/sidebar"